header {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  width: 100%;

  div.logo-container {
    display: flex;
    justify-content: center;
    width: 50%;

    .logo {
      position: relative;
      right: 70px;
      width: 140px;
      height: 140px;
    }
  }

  div.button-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 50%;

    button {
      padding: 10px 30px;
      background: white;
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid black;
      transition: all 0.15s ease-out;
      cursor: pointer;

      &:hover {
        background: black;
        color: white;
        font-weight: 700;
        border-radius: 15px;
        padding: 20px 40px;
        transition: all 0.3s ease-in;
      }
    }
  }
}
